/*modulo 1*/
.most-orders{
  width: 83.8%;
  margin: 0 auto;
  padding: var(--default-margin);
  display: flex;
  flex-direction: column;
  background-image: url("../Assets/img/bg-parttern.png");
  background-position: center;
  background-size: 100%;
  width: 100%;
  padding: 2em 8.8em;
}

.most-orders-title{
  text-align: right;
  margin: 12.4em 0 4.8em auto;
  width: var(--default-width-paragraf);
}

.most-orders__h2{
  display: block;
  font: var(--font-h2-Anek-bold);
  color: var(--Black-Coffee);
}

.most-orders__h3{
  font: var(--font-input-Anek);
  color: var(--Black-Coffee);
}

.most-orders-cards{
  padding: var(--default-margin);
  display: flex;
  justify-content: space-between;
  gap: 8.8em;
  margin-bottom: 14.4em;
}

.most-orders-cards-article-content{
  background-color: var(--Whitter);
  text-align: center;
  height: 43.7em;
  width: 30.4em;
  padding: 0 2em 2.5em 2em;
  border-radius: 2.2em;
  align-content: end;
}

.most-orders-cards-article-content__h3{
  font: var(--font-h2-Anek-bold);
  color: var(--Cowide-Cocoa);
}

.most-orders-cards-article-content__p{
  font: var(--font-p-Anek);
  margin: 1.2em 0;
  color: var(--Cowide-Cocoa);
}

.most-orders-cards-article-content__p-ftxt{
  font: var(--font-p-Anek-bold);
  color: var(--Toasted-Caramel);
  margin: 1.6em 0;
}

.most-orders-cards-article__div-bg-img{
  transform: translateY(-10em);
}

.most-orders-cards-article__div-bg{
  background-color: var(--Olive-Harvest);
  width: 16em;
  height: 16em;
  border-radius: calc(var(--default-border-elements) * 5);
  margin: 0 auto;
  text-align: center;
  transform: translateY(9em);
}

.most-orders-cards-article-content__p{
  font: var(--font-p-Anek);
  color: var(--Black-Coffee);
}

.most-orders-cards-article-content-interaction{
  width: 100%;
  padding: 0;
  display: flex;
  gap: 1em;
}

.most-orders-cards-article-content__input{
  width: 6em;
  height: 2em;
  border-radius: var(--default-border-elements);
  padding: 0;
  color: var(--Spiced-Wine);
  font: var(--font-input-Anek);
  text-align: center;
}

.most-orders-cards-article-content__btn{
  padding: 0;
  border: none;
  background-color: var(--Whitter);
  cursor: pointer;
}

.most-orders-cards-article-content__btn img{
  width: 4em;
  height: 4em;
}

/* .footer {
    grid-area: footer;
    width: 100%;
    background-color: var(--Spiced-Wine);
    height: auto;
    min-height: 28rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem; 
} */