/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --Black-Coffee: #1f140c;
    --Cowide-Cocoa: #442D1C;
    --Spiced-Wine: #743014;
    --Toasted-Caramel: #84592B;
    --Olive-Harvest: #9D9167;
    --Golden-Batter: #E8D1A7;
    --Whitter: #E6E4E0;
    --font-h1-Anek: normal 100 65.0em "Anek Gurmukhi", sans-serif;
    --font-h2-Anek-bold: medium 600 48.0em "Anek Gurmukhi", sans-serif;
    --font-h2-Joan: normal 400 48.0em "Joan", serif;
    --font-h3-Joan: normal 400 32.0em "Joan", serif;
    --font-h3-Anek-bold: medium 600 48.0em "Anek Gurmukhi", sans-serif;
    --font-h3-Anek: normal 400 32.0em "Anek Gurmukhi", sans-serif;
    --font-h4-Anek: normal 400 18.0em "Anek Gurmukhi", sans-serif;
    --font-h4-Joan: normal 400 18.0em "Joan", serif;
    --font-p-Anek: normal 400 16.0em "Anek Gurmukhi", sans-serif;
    --font-p-Joan: normal 400 16.0em "Joan", serif;
    --font-span-Anek: normal 400 32.0em "Anek Gurmukhi", sans-serif;
    --font-span-Joan: normal 400 32.0em "Joan", serif;
    --font-input-Anek: normal 400 24.0em "Anek Gurmukhi", sans-serif;
    --font-input-Joan: normal 400 24.0em "Joan", serif;
}